:root {
    --primaryLight: #00E276;
    --secondaryLight: #E0E0E0;
    --primaryDark: #303030;
    --secondaryDark: #3D3D3D;
}

@font-face {
    font-family: 'MPLUS1Code';
    src: url('../assets/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
        url('../assets/fonts/MPLUS1Code-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../assets/fonts/MuseoModerno-Regular.woff2') format('woff2'),
        url('../assets/fonts/MuseoModerno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../assets/fonts/arialroundedmtbold.woff2') format('woff2'),
        url('../assets/fonts/arialroundedmtbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    // background: var(--primaryDark);
    background: #222
    // background-image: url(../assets/background-effects/grainy.svg);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: overlay;
  opacity: 1; /* вище для сильнішого шуму */
  filter: contrast(140%) brightness(90%);

  background-image: url(../assets/background-effects/grainy.svg);
//   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='f'><feTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23f)'/></svg>");
  background-repeat: repeat;
  background-size: 100px 100px;

  animation: grainShift 5s linear infinite;
  will-change: transform;
}

@keyframes grainShift {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(-6px, 2px); }
  50%  { transform: translate(4px, -3px); }
  75%  { transform: translate(-2px, 4px); }
  100% { transform: translate(0px, 0px); }
}

.text {
    font-family: 'MPLUS1Code', sans-serif;
    font-size: 16px;
    color: var(--secondaryLight);
}

.dark {
    color: #B4B4B4;
}

.title {
    font-family: 'MuseoModerno';
    font-size: 64px;
    color: #FFF;
}

.sub-title {
    font-family: 'MPLUS1Code', sans-serif;
    font-size: 32px;
    color: #FFF;
}

span {
    color: var(--primaryLight);
}

button {
    background: transparent;
    border: 1px solid var(--primaryLight);
    font-size: 16px;
    color: var(--primaryLight);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.icon {
    width: 24px;
    height: 24px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    transition: opacity 0.3s ease;
}

.overlay.open {
    display: block;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: var(--primaryDark);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    text-align: center;

    .nav-close {
        width: 40px;
        height: 40px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .title {
        margin: 110px 0 60px 0;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .nav-item {
            font-family: 'MPLUS1Code';
            font-size: 24px;
            text-decoration: none;
            color: #FFF;
            cursor: pointer;
        }
    }
}

.menu-wrapper.open {
    transform: translateX(0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .navigation {
        display: none;
    }

    .nav-menu {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.profile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .profile-left {
        width: 350px;
        text-align: center;
        margin-top: 81px;

        .sub-title {
            font-size: 24px;
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 46px;
            margin: 31px 0;


            .cv-download {
                padding: 8px 93px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: 'MPLUS1Code';
                font-size: 16px;
                transition: all 0.2s ease-in-out;

                .icon {
                    stroke: var(--primaryLight)
                }
            }

            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: 1px solid var(--primaryLight);
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                .icon {
                    fill: var(--primaryLight)
                }
            }

            .icon-wrapper:nth-child(2n - 1) {
                .icon {
                    stroke: var(--primaryLight);
                }
            }

            .icon-wrapper:hover {
                background: var(--primaryLight);

                .icon {
                    fill: var(--primaryDark);
                    stroke: var(--primaryDark);
                }
            }
        }
    }

    .profile-right {

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 5px solid var(--primaryLight);
            overflow: hidden;
        }

        .profile-image {
            height: 100%;
        }
    }
}

.profile-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-bottom-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 110px;
        color: #FFF;

        b {
            display: block;
            font-family: 'ArialRoundedMTBold';
            font-size: 64px;
        }

        p {
            width: 90px;
            font-family: 'MPLUS1Code';
            font-size: 16px;
        }
    }
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 40px;
        margin: 35px 0 13px 0;
    }

    .projects-container {
        width: 350px;
    }

    .project-item {
        padding: 25px 0;

        .project-image {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            background: var(--secondaryDark);
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: contain;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .project-info {
            padding: 25px 0;

            .sub-title {
                margin-bottom: 15px;
            }

            .technologies {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                margin: 15px 0 25px 0;

                .placeholder {
                    padding: 1px 12px;
                    background: #CDCDCD;
                    border-radius: 20px;
                    font-size: 12px;
                }
            }

            .project-btn {
                width: 100%;
                padding: 15px;
                border: 2px solid var(--primaryLight);
                border-radius: 50px;
                font-family: 'MPLUS1Code';
                font-size: 20px;
            }
        }
    }
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;

    .resume-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 350px;
        padding: 25px;

        .sub-title {
            font-size: 40px;
        }

        .text {
            width: 300px;
            margin: 15px 0 30px 0;
        }

        .input-switcher {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;


            input {
                display: none;
            }

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 50px;
                cursor: pointer;
                border-radius: 5px;
                background: var(--secondaryDark);
                font-family: 'MPLUS1Code';
                font-size: 20px;
                color: #FFF;
            }

            input:checked+label {
                background: var(--primaryLight);
                color: var(--primaryDark);
            }

        }
    }

    .resume-right {
        width: 350px;
        text-align: center;

        .text {
            margin: 18px 0 15px 0;
        }

        .box-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .rectangle-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 278px;
                height: 150px;
                padding: 20px;
                background: var(--secondaryDark);
                border-radius: 10px;
                font-family: 'MPLUS1Code';
                color: #FFF;

                .box-title {
                    font-size: 20px;
                }

                .box-company {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #CDCDCD;

                    span {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: var(--primaryLight);
                        margin-right: 10px;
                    }
                }
            }

            .square-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                border-radius: 8px;
                background: var(--secondaryDark);

                svg {
                    width: 65px;
                    height: 65px;
                    fill: var(--primaryDark);
                    stroke: #000;
                }
            }

            .square-box:hover>svg {
                fill: var(--primaryLight);
            }

            .text-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 30px;
                display: flex;
                gap: 10px;
            }
        }
    }
}

.contact-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .contact-left {
        width: 350px;

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            padding: 25px;
            background: var(--secondaryDark);
            border-radius: 10px;

            input {
                width: 100%;
                height: 35px;
                padding: 2px 9px;
                border: 2px solid transparent;
                border-radius: 5px;
                background: var(--primaryDark);
                font-family: 'MPLUS1Code';
                font-size: 14px;
                color: #FFF;
            }

            input::placeholder {
                font-family: 'MPLUS1Code';
                font-size: 14px;
                color: #CDCDCD;
            }

            select {
                width: 100%;
                height: 35px;
                padding: 0 9px;
                border: 2px solid transparent;
                border-radius: 5px;
                background: var(--primaryDark);
                font-family: 'MPLUS1Code';
                font-size: 14px;
                color: #CDCDCD;
            }


            textarea {
                width: 100%;
                min-height: 115px;
                max-height: 150px;
                padding: 9px;
                background: var(--primaryDark);
                border: 2px solid transparent;
                border-radius: 5px;
                resize: vertical;
                font-family: 'MPLUS1Code';
                font-size: 14px;
                color: #FFF;
            }

            textarea::placeholder {
                color: #CDCDCD;
            }

            button {
                height: 35px;
                padding: 8px 17px;
                border-radius: 30px;
                background: var(--primaryLight);
                color: var(--primaryDark);
                font-family: 'MPLUS1Code';
                font-size: 16px;
            }
        }
    }

    .contact-right {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .info-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .info-block {
                display: flex;
                align-items: center;

                .icon-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 70px;
                    background: var(--secondaryDark);
                    border-radius: 3px;

                    .icon {
                        width: 35px;
                        height: 35px;
                    }
                }

                .text-block {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    padding: 15px 20px;

                    .dark {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1100px) {

    .menu-wrapper {
        display: none;
    }

    .overlay.open {
        display: none;
    }

    .header {
        height: 110px;

        .navigation {
            display: flex;
            align-items: center;
            gap: 30px;

            .nav-item {
                font-family: 'MPLUS1Code';
                font-size: 24px;
                text-decoration: none;
                color: #FFF;
                cursor: pointer;
            }

            .nav-item:last-child {
                padding: 6px 19px;
                background: var(--primaryLight);
                border-radius: 30px;
                color: var(--primaryDark);
            }
        }

        .nav-menu {
            display: none;
        }
    }

    .profile {
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 0;

        .profile-left {
            width: 551px;
            text-align: start;

            .social {
                justify-content: start;
                gap: 15px;
                margin: 50px 0;

                .cv-download {
                    padding: 8px 31px;
                }

                .cv-download:hover {
                    background: var(--primaryLight);
                    color: var(--primaryDark);

                    .icon {
                        stroke: var(--primaryDark);
                    }
                }
            }
        }

        .profile-right {
            width: 460px;
            display: flex;
            justify-content: center;

            .image-wrapper {
                width: 400px;
                height: 400px;
            }
        }

    }

    .profile-bottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .projects-wrapper {
        .title {
            font-size: 64px;
            margin: 90px 0 62px 0;
        }

        .projects-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 81px;
        }

        .project-item:nth-child(2) {
            flex-direction: row-reverse;
        }

        .project-item {
            display: flex;

            .project-image {
                width: 505px;
                height: 346px;
                border-radius: 20px;
            }

            .project-info {
                width: 505px;
                padding: 34px 30px;

                .sub-title {
                    margin-bottom: 6px;
                }

                .technologies {
                    width: 450px;
                    margin: 16px 0 30px 0;

                    .placeholder {
                        padding: 3px 12px;
                    }
                }

                .project-btn {
                    padding: 22px;
                    font-size: 24px;
                }
            }
        }
    }

    .resume {
        flex-direction: row;
        height: 650px;

        .resume-left {
            width: 369px;
            padding: 111px 0;

            .sub-title {
                font-size: 48px;
            }
        }

        .resume-right {
            width: 641px;
            padding: 121px 30px 72px 30px;

            .text {
                margin: 19px 0 35px 0;
            }

            .box-wrapper {
                justify-content: flex-start;

                .rectangle-box {
                    gap: 12px;
                    width: calc(50% - 73px);
                    max-height: 150px;
                    padding: 20px 30px;
                }

                .square-box {
                    width: calc(25% - 19px);
                    height: 141px;
                }

                .square-box:hover>svg {
                    fill: var(--primaryLight);
                }

                .text-wrapper {
                    width: 260px;
                }
            }
        }
    }

    .contact-wrapper {
        flex-direction: row;
        padding: 55px 0;

        .contact-left {
            width: 505px;
            height: 550px;

            .contact-form {
                input {
                    width: calc(50% - 35px);
                }

                select {
                    height: 42px;

                    option {
                        height: 30px;
                        padding: 2px 9px;
                        background: var(--primaryDark);
                        font-family: 'MPLUS1Code';
                        font-size: 14px;
                    }

                    option:checked {
                        background: var(--primaryLight);
                        color: #000;
                    }
                }

                input:hover,
                input:focus,
                select:hover,
                select:focus,
                textarea:hover,
                textarea:focus {
                    border: 2px solid var(--primaryLight);
                }

                textarea::placeholder {
                    color: #CDCDCD;
                }
            }
        }

        .contact-right {
            align-items: center;
            width: 505px;
            height: 505px;
        }
    }
}